<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Customer">

	<parameterMap type="customerVO" id="insertParameterMap">
		<parameter property="memberId" javaType="String"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memberPassword" javaType="String"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memberName" javaType="String"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memberGender" javaType="String"
			jdbcType="CHAR" mode="IN" />
		<parameter property="memberBirthday" javaType="String"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memberEmail" javaType="String"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memberPhone" javaType="String"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memberTerms" javaType="String"
			jdbcType="CHAR" mode="IN" />
	</parameterMap>

	<insert id="insertSP" parameterType="customerVO"
		statementType="CALLABLE" parameterMap="insertParameterMap">
		{ call sp_customer_insert(?, ?,
		?, ?, ?, ?, ?, ?) }
	</insert>

	<!-- Log In -->
	<parameterMap type="hashMap" id="loginParameterMap">
		<parameter property="memberId" javaType="String" />
		<parameter property="memberPassword" javaType="String" />
		<parameter property="result" javaType="Integer"
			jdbcType="INTEGER" mode="OUT" />
	</parameterMap>

	<select id="login" statementType="CALLABLE"
		parameterMap="loginParameterMap">
		{ call sp_customer_login(?, ?, ?) }
	</select>

	<!-- Find ID -->
	<resultMap type="String" id="findIdMap">
		<id column="member_id" jdbcType="VARCHAR" property="member_id"
			javaType="String" />
	</resultMap>


	<parameterMap type="hashMap"
		id="findIdByPhoneParameterMap">
		<parameter property="memberName" javaType="String" />
		<parameter property="memberPhone" javaType="String"
			jdbcType="VARCHAR" />
		<parameter property="result" javaType="ResultSet"
			jdbcType="CURSOR" mode="OUT" resultMap="findIdMap" />
	</parameterMap>

	<select id="findIdByPhone" statementType="CALLABLE"
		parameterMap="findIdByPhoneParameterMap">
		{ call sp_customer_find_id_by_phone(?, ?, ?) }
	</select>

	<parameterMap type="hashMap"
		id="findIdByEmailParameterMap">
		<parameter property="memberName" javaType="String" />
		<parameter property="memberEmail" javaType="String" />
		<parameter property="result" javaType="ResultSet"
			jdbcType="CURSOR" mode="OUT" resultMap="findIdMap" />
	</parameterMap>

	<select id="findIdByEmail" statementType="CALLABLE"
		parameterMap="findIdByEmailParameterMap">
		{ call sp_customer_find_id_by_email(?, ?, ?) }
	</select>
	
	<!-- Find Password -->
	<parameterMap type="hashMap" id="findPasswordByPhoneParameterMap">
		<parameter property="memberId" javaType="String" />
		<parameter property="memberName" javaType="String" />
		<parameter property="memberPhone" javaType="String" jdbcType="VARCHAR"/>
		<parameter property="result" javaType="Integer"
			jdbcType="INTEGER" mode="OUT" />
	</parameterMap>

	<select id="findPasswordByPhone" statementType="CALLABLE"
		parameterMap="findPasswordByPhoneParameterMap">
		{ call sp_customer_find_password_by_phone(?, ?, ?, ?) }
	</select>
	
	
	<parameterMap type="hashMap" id="findPasswordByEmailParameterMap">
		<parameter property="memberId" javaType="String" />
		<parameter property="memberName" javaType="String" />
		<parameter property="memberEmail" javaType="String" jdbcType="VARCHAR"/>
		<parameter property="result" javaType="Integer"
			jdbcType="INTEGER" mode="OUT" />
	</parameterMap>

	<select id="findPasswordByEmail" statementType="CALLABLE"
		parameterMap="findPasswordByEmailParameterMap">
		{ call sp_customer_find_password_by_email(?, ?, ?, ?) }
	</select>
	
</mapper>